<h2>User info</h2>

<%= form_for(@user) do |f| %>
<span>Name</span>
<%= f.text_field :name, autofocus: true %>
<span>Image</span>
<%= f.attachment_field :profile_image %>
<span>Introduction</span>
<%= f.text_area :introduction %>
<%= f.submit "Update User" %>
<% end %>