<div class="container">
	<div class="row">
		<div class="col-md-3">
			<table>
			<h2> User info</h2>
			<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: "jpeg", fallback:"no_image.jpg" %>
			<hr>
			<p>name <%= @user.name %></p>
			<hr>
			<p>introduciton <%= @user.introduction %></p>
			<%= link_to edit_user_path(@user), class:"btn btn-default btn-block" do %>
			<i class="fas fa-wrench"></i>
			<% end %>
			<h2>New book</h2>
			<%= form_for(@book) do |f| %>
			<h4>Title</h4>
			<%= f.text_field :title, class:"btn-block" %>
			<h4>Opinion</h4>
			<%= f.text_area :body, class:"btn-block" %>
			<%= f.submit "Create Book", class:"btn btn-primary btn-block" %>
			<% end %>
		</table>
		</div>
		<div class="col-md-9">
			<h2>Users</h2>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-3">image</th>
						<th class="col-md-3">name</th>
						<th class="col-md-3"></th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td class="col-md-3"><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: "jpeg", fallback:"no_image.jpg", size: "50x50" %></td>
							<td class="col-md-3"><%= user.name %></td>
							<td class="col-md-3"><%= link_to "show", "users/#{user.id}" %></td>
						</tr>
						<% end %>
					</tbody>
