<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
    <h1>
      <a class="navbar">Bookers</a>
    </h1>
  </div>
    <div class="collapse navbar-collapse" id="navbarEexample1">
      <ul class="nav navbar-nav">
      <% if user_signed_in? %>
      <li>
        <%= link_to "Home", user_path(current_user.id) %>
      </li>
      <li>
      <%= link_to "Users", "/users" %>
    </li>
    <li>
      <%= link_to "Books", "/books" %>
    </li>
    <li>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </li>
    <% else %>
    <li>
      <%= link_to "Home", "/" %>
    </li>
    <li>
      <%= link_to "about", "/homes/about" %>
    </li>
    <li>
      <%= link_to "sign up",new_user_registration_path %>
    </li>
    <li>
      <%= link_to "login", new_user_session_path %>
    </li>
    <% end %>
  </ul>
  </div>
</div>
</nav>

    <%= yield %>
  </body>
</html>
